body {
  margin: 0;
  padding: 0;
  color: white;
  background: #110c00;
  font-family: "Sora", sans-serif;
  
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@media (max-width: 768px) {
  /* body {
    
    
  } */
}
